@charset "UTF-8";
.input-search {
  border: none;
  width: 100%;
  min-height: 48px;
  background-color: #fff;
  text-align: center; }

.text-size {
  font-size: 25px; }

.input-search:focus {
  outline: none; }

.input-search:-moz-placeholder {
  padding-left: 50px; }

.input-search::-moz-placeholder {
  padding-left: 50px; }

.input-search:-ms-input-placeholder {
  padding-left: 50px; }

.input-search::-webkit-input-placeholder {
  padding-left: 50px; }

.video-container {
  position: relative; }

.figure-custom {
  width: 100%;
  height: auto; }

.video {
  position: relative;
  width: 100%;
  height: auto; }

.controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
  z-index: 2147483647;
  background-color: transparent; }

.video:hover .controls-container {
  opacity: 1; }

.element-btn:hover {
  cursor: pointer; }

.custom-icon-video-controls {
  width: 22px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px; }

.time {
  margin-top: 3px;
  font-size: 100%;
  color: #fff;
  width: 100%;
  vertical-align: middle; }

.progress {
  position: relative;
  width: 100%;
  background-color: transparent !important;
  border: 0;
  margin-left: 5px;
  margin-right: 5px; }

.progress-bar {
  -webkit-appearance: none;
  position: absolute;
  background-color: transparent;
  background-color: transparent !important;
  height: 5px;
  width: 100%;
  border: 0;
  border-radius: 9px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  z-index: 10000; }

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  z-index: 10000;
  background-color: transparent;
  background-color: transparent !important; }

.progress-bar::-moz-range-thumb {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  z-index: 10000;
  background-color: transparent;
  background-color: transparent !important; }

.viewed-progress {
  position: relative;
  background-color: #009eff;
  height: 5px;
  border: 0;
  border-radius: 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  z-index: 2000; }

.point-progress {
  position: relative;
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  z-index: 3000; }

.total-progress {
  position: absolute;
  background-color: #fff;
  height: 5px;
  width: 100%;
  border: 0;
  border-radius: 9px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  z-index: 1000; }

.progress-bar:focus {
  outline: none; }

.volume {
  position: relative;
  background-color: transparent !important;
  border: 0; }

.volume-hide {
  display: none; }

.volume-hide:hover {
  display: block; }

.volume-icon:hover ~ .volume-hide {
  display: block; }

.volume-bar {
  -webkit-appearance: none;
  position: relative;
  background-color: #dcdcdc;
  border: 0;
  height: 5px;
  max-width: 80px;
  border-radius: 9px;
  margin-top: 14px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; }

.volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #009eff;
  cursor: pointer; }

.volume-bar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #009eff;
  cursor: pointer; }

.volume-bar:focus {
  outline: none; }

html:-ms-fullscreen {
  width: 100%; }

:-webkit-full-screen {
  background-color: transparent;
  vertical-align: middle;
  position: absolute;
  padding-top: 6px; }

.custom-icon {
  width: 22px; }

.custom-logo {
  max-width: 190px; }

.custom-logo2 {
  max-width: 40px; }

.custom-btn {
  max-width: 60px; }

.absolute {
  position: absolute;
  margin: 6px 6px;
  z-index: 23; }

.router-link {
  color: #000 !important;
  text-decoration: none !important; }

.card-custom {
  margin-bottom: 30px !important; }

.App-logo {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100px;
  margin-top: -50px;
  margin-left: -55px; }

.navbar-custom {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
  -webkit-transform: translate3d(0, 0, 0); }

.navbar-guest-custom {
  min-height: 48px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
  -webkit-transform: translate3d(0, 0, 0); }

.in-navbar-custom {
  padding-top: 1px !important;
  padding-bottom: 1px !important; }

.search-icon {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 12px;
  vertical-align: middle !important; }

.login-icon {
  margin-bottom: 0px !important;
  margin-top: 5px !important; }

.margin-logo {
  margin-left: 280px !important;
  margin-right: 280px !important; }

@media only screen and (max-width: 480px) {
  .input-custom {
    display: none !important; }
  .hide-icon {
    display: none !important; } }

@media only screen and (max-width: 845px) {
  .input-custom {
    display: none !important; }
  .hide-icon {
    display: none !important; } }

@media only screen and (max-width: 992px) {
  .hide-icon {
    display: none !important; } }

@media only screen and (max-width: 1060px) {
  .hide-icon {
    display: none !important; } }

.container-margin-top {
  margin-top: 80px; }

.input-custom {
  width: 480px; }

.custom-card-border {
  border: 1px solid #d0d9e8 !important; }

.video-slot {
  position: relative;
  z-index: 22; }

.video-time {
  position: absolute;
  right: 0;
  bottom: 1vh;
  margin-bottom: 0;
  z-index: 23;
  color: #fff;
  background: rgba(0, 0, 0, 0.3); }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.feed-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.watch-container {
  width: 100%;
  padding-right: 250px;
  padding-left: 250px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 320px) {
  .margin-logo {
    margin-left: 20px !important;
    margin-right: 20px !important; }
  .watch-container {
    padding-right: 0px;
    padding-left: 0px; } }

@media (min-width: 576px) {
  .container {
    max-width: 540px !important; }
  .feed-container {
    max-width: 576px !important; }
  .margin-logo {
    margin-left: 20px !important;
    margin-right: 20px !important; }
  .watch-container {
    padding-right: 10px;
    padding-left: 10px; } }

@media (min-width: 768px) {
  .container {
    max-width: 768px !important; }
  .feed-container {
    max-width: 680px !important; }
  .margin-logo {
    margin-left: 200px !important;
    margin-right: 200px !important; }
  .watch-container {
    padding-right: 20px;
    padding-left: 20px; } }

@media (min-width: 1024px) {
  .container {
    max-width: 1000px !important; }
  .feed-container {
    max-width: 680px !important; }
  .margin-logo {
    margin-left: 280px !important;
    margin-right: 280px !important; }
  .watch-container {
    padding-right: 120px;
    padding-left: 120px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1100px !important; }
  .feed-container {
    max-width: 680px !important; } }

@media (min-width: 1400px) {
  .container {
    max-width: 1200px !important; }
  .feed-container {
    max-width: 680px !important; }
  .margin-logo {
    margin-left: 250px !important;
    margin-right: 250px !important; }
  .watch-container {
    padding-right: 360px;
    padding-left: 360px; } }

@media (min-width: 1600px) {
  .watch-container {
    padding-right: 560px;
    padding-left: 560px; } }

.notify-container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end; }

.custom-footer {
  border-top: 3px solid;
  border-color: #5c5c5c;
  padding: 10px;
  /* Поля вокруг текста */
  background: rgba(41, 41, 41, 0.596);
  /* Цвет фона */
  color: #fff;
  /* Цвет текста */
  width: 100%;
  /* Ширина слоя */
  z-index: 1000;
  -webkit-transform: translate3d(0, 0, 0); }

.divider-margin-bottom {
  margin-bottom: 0% !important; }

.divider-margin-top {
  margin-top: 0% !important; }

.background-color {
  background-color: #eee !important; }

.background-color:hover {
  background-color: #fafafa !important; }
