.panel{
    max-width: 500px;
    min-height: 50px;
    background-color: rgb(248, 205, 125);
    border-radius: 90px 90px 0px 0px;
    -moz-border-radius: 90px 90px 0px 0px;
    -webkit-border-radius: 90px 90px 0px 0px;
    border: 0px solid #000000;
}
.moreVideos{
    padding: 10px;
    background-color: rgb(253, 223, 167);
    width: 100%;
    margin: 0px !important;
}