@import './search';
@import './scrollbar';
@import './videoPlayer';

body{
    background-color: rgb(245, 245, 245) !important;
}
.custom-icon{
    width: 22px;
}

.custom-logo{
    max-width: 190px;
}

.custom-logo2{
    max-width: 40px;
}

.custom-btn{
    max-width: 60px;
}

.absolute{
    position: absolute;
    margin: 6px 6px;
    z-index: 23;
}

.App-logo {
    animation: App-logo-spin infinite 1s linear;
    height: 80px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

// .btn-content{
//     margin: 1px !important;
//     padding: 0 4px !important;
// }

.router-link{
    color: black !important;
    text-decoration: none !important;
}

.card-custom{
    margin-bottom: 30px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

//.three { top: 50px; left: 55px; z-index: 5; }

.App-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100px;
    margin-top: -50px;
    margin-left: -55px;
}

// @keyframes App-logo-spin {
//    from { transform: rotate(0deg); }
//    to { transform: rotate(360deg); }
// }

.navbar-custom{
    //max-height: 50px;
    // padding-left: 100px !important;
    // padding-right: 100px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #fff;
    border-bottom: 1px solid rgb(220, 220, 220); 
    -webkit-transform: translate3d(0, 0, 0);
}
.navbar-guest-custom{
    min-height: 48px;
    // padding-left: 68px !important;
    // padding-right: 68px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #fff;
    border-bottom: 1px solid rgb(220, 220, 220); 
    -webkit-transform: translate3d(0, 0, 0);
}

.in-navbar-custom{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.search-icon{
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 12px;
    vertical-align: middle !important;
}

.login-icon{
    margin-bottom: 0px !important;
    margin-top: 5px !important;
}

.margin-logo{
    margin-left: 280px !important;
    margin-right: 280px !important;
}

@media only screen and (max-width : 480px) {
    .input-custom{
        display: none !important;
    }
    .hide-icon{
        display: none !important;
    }

}

@media only screen and (max-width : 845px) {
    .input-custom{
        display: none !important;
    }
    .hide-icon{
        display: none !important;
    }

}

@media only screen and (max-width : 992px) {
    .hide-icon{
        display: none !important;
    }
}

@media only screen and (max-width : 1060px) {
    .hide-icon{
        display: none !important;
    }
}
    
.container-margin-top{
    margin-top: 80px;
    //padding-left: 100px !important;
    //padding-right: 100px !important;
}

.input-custom{
    width: 480px;
}

.custom-card-border{
    border: 1px none #d0d9e8 !important;
    // border-radius: 0px !important;
}

.video-slot{
    position: relative;
    z-index: 22;
}

.video-time{
    position: absolute;
    right: 0;
    bottom: 1vh;
    margin-bottom: 0;
    z-index: 23;
    color: #fff;
    background: rgba(0,0,0,0.3);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.feed-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.watch-container {
    width: 100%;
    padding-right: 250px;
    padding-left: 250px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 320px) {
    .margin-logo{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .watch-container {
        padding-right: 0px;
        padding-left: 0px;
    }
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px !important;
    }
    .feed-container {
        max-width: 576px !important;
    }
    .margin-logo{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .watch-container {
        padding-right: 10px;
        padding-left: 10px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px !important;
    }
    .feed-container {
        max-width: 680px !important;
    }
    .margin-logo{
        margin-left: 200px !important;
        margin-right: 200px !important;
    }
    .watch-container {
        padding-right: 20px;
        padding-left: 20px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1000px !important;
    }
    .feed-container {
        max-width: 680px !important;
    }
    .margin-logo{
        margin-left: 280px !important;
        margin-right: 280px !important;
    }
    .watch-container {
        padding-right: 120px;
        padding-left: 120px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1100px !important;
    }
    .feed-container {
        max-width: 680px !important;
    }
  }
  
  @media (min-width: 1400px) {
    .container {
      max-width: 1200px !important;
    }
    .feed-container {
        max-width: 680px !important;
    } 
    .margin-logo{
        margin-left: 250px !important;
        margin-right: 250px !important;
    }
    .watch-container {
        padding-right: 360px;
        padding-left: 360px;
    }
  }
  @media (min-width: 1600px) {
    .watch-container {
        padding-right: 560px;
        padding-left: 560px;
    }
  }

.notify-container {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    //align-items: flex-start;
    //align-content: flex-start;
    //height: 58px;
}

.custom-footer{
    border-top: 3px solid;
    border-color:  #5c5c5c;
    //position: fixed; /* Фиксированное положение */
    //left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #29292998; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    z-index: 1000;
    //max-height: 58px;
    -webkit-transform: translate3d(0, 0, 0)
}

.divider-margin-bottom{
    margin-bottom: 0% !important;
}
.divider-margin-top{
    margin-top: 0% !important;
}

.background-color{
    background-color: rgb(224, 224, 224) !important;
}
.background-color:hover{
    background-color: rgb(199, 199, 199) !important;
}

.bg-hover:hover{
    background-color: rgb(199, 199, 199) !important;
}

.channel-name{
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0px !important;
    // display: flex ;
    // flex-direction: row ;
    // flex-wrap: wrap ;
    // justify-content: space-around ;
    // align-items: center ;
    // align-content: center ;
}

.channel-name-upper{
    position: absolute;
    height: 50px;
    width: 100%;
    margin: 0px 0px 0px 0px!important;
    background-color: #ffffff00;
}

.channel-name-lower{
    position: absolute;
    height: 50px;
    width: 100%;
    margin: 50px 0px 0px 0px!important;
    background-color: #ffffff;
    border-top: 1px none #d0d9e8 !important;
    // border-bottom: 0px !important;
    //border-radius: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.channel-name-avatar{
    position: absolute;
    //width: 100%; 
    border-radius: 50% !important;
    border: 3px solid #ffffff !important;
    height: 100%;
    z-index: 10;

}
.channel-name-button{
    position: absolute;
    width: 120px; 
    height: 40px;
    margin: 30px 0px 0px 0px; 
    border: none;
    outline: none!important;
    color: white;
    font-size: 20px;
    font-family: "Brush Script MT, Brush Script Std, cursive";
    //font-size: 26px;
    text-decoration: none;
    border: 3px solid #ffffff !important;
    //background-color: rgb(224, 77, 33);
    background: linear-gradient(to right, red , rgb(255, 102, 0));
    border-radius: 100px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
    z-index: 10;
}

.button-panel-btn{
    background-color: #ffffff00;
}