.video{
	position: relative;
}
.controls-container{
  position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 5px;
	opacity: 0;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;

  // position: absolute;
  // right: 0;
  // bottom: 0;
  // left: 0;
   z-index: 1030;

  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0)
}
.video:hover .controls-container {
	opacity: 1.0;
}

.element-btn:hover{
  cursor: pointer;
}



.custom-icon-video-controls{
  width: 22px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.time{
  margin-top: 3px; ///todo vertical 
  // margin-bottom: 5px;
  // margin-left: 5px;
  // margin-right: 5px;
  font-size: 100%;
  color: white;
  width: 100%;
  vertical-align: middle;
  //text-align: center;
}

.progress-bar{
  position: relative;
  background-color:  #dcdcdc;
  border: 0;
  height: 5px;
  width: 100%;
  border-radius: 9px;
  margin-top: 5px; 
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.progress-bar::-webkit-progress-bar {
  background-color: #dcdcdc;
}
.progress-bar::-webkit-progress-value {
  background-color: #009eff;
}
.progress-bar::-moz-progress-bar {
  background-color: #009eff;
}

